<!doctype html>
<html>
  <head>
    <title>AS Challengr</title>
    <meta charset="utf-8">
  </head>
  <body>
    <!-- User template -->
    <template id="user" type="x-template">
      <section>
        <h2>User Profile</h2>
        <ul>
          <li>Name: {{user.profile.name}}</li>
          <li>Email: {{user.profile.email}}</li>
        </ul>
        <h2>Posts</h2>
        <ul v-for="post in user.posts">
          <li>
            <h3>{{post.title}}</h3>
            <p>{{post.body}}
          </li>
        </ul>
      </section>
    </template>

    <!-- Vue app entry point -->
    <div id="app">
      <p v-if="message">{{ message }}<p>
      <user v-if="user" :user="user"></user>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.js"></script>
    <script type="module" src="index.js"></script>
  </body>
</html>
